$Blanco: #fff;
$Humo: #f0f0f0;
$Gris: #666;
$Oscuro: #333;
/*paleta*/
$marron1: #e6c2a1;
$marron2: #b17432;
$marron3: #332d29;
$azul1: #177eb0;
$azul2: #064765;

$open: 'Open Sans', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;

$mobile: "only screen and (max-width: 320px)";
$mobile_mid: "only screen and (max-width: 640px)";
$mobile_big: "only screen and (max-width: 1024px)";