@import "normalize-scss/normalize";
@import "variables";
@import "general";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
html, body{
	height: 100%;
}
body{
	background: $Blanco;
	display: block;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}
section{
	display: block;
	height: 60%;
	position: relative;
	width: 100%;
	.container{
		margin: 0 auto;
		width: 960px;

		@media #{$mobile_mid}{
			padding: 15px;
			width: calc(100% - 30px);
		}
	}
	&#home{
		background-image: url(../img/bg.jpg);
		h1{
			background-image: url(../img/logo.png);
			background-image: url(../img/logo.svg), url(../img/logo.png);
			background-size: cover;
			height: 250px;
			margin: 0 auto;
			position: relative;
			text-align: center;
			top: calc(50% - 125px);
			width: 250px;

			@media #{$mobile_mid}{
				height: 160px;
				top: calc(50% - 80px);
				width: 160px;
			}
		}
	}
	&#about{
		min-height: 100%;
		@media #{$mobile_big}{
			margin-bottom: 150px;
		}
		div{
			@media #{$mobile_big}{
				padding: 15px 15px 60px 15px;
				width: 100%;
			}
			h2{
				@media #{$mobile_big}{
					font-size: 1.8em;
					line-height: 1em;
					padding: 15px 0;
					width: calc(100% - 30px);
				}
			}
			h6{
				@media #{$mobile_big}{
					font-size: 0.8em;
					line-height: 1.4em;
					padding: 15px 0;
					width: calc(100% - 30px);
				}
			}
			h3{
				@media #{$mobile_big}{
					font-size: 1.4em;
					line-height: 1em;
					padding: 15px 0;
					width: calc(100% - 30px);
				}
			}
			ul{
				padding: 0;
				text-align: center;
				width: 100%;
				li{
					background-position: top;
					background-repeat: no-repeat;
					background-size: 120px;
					box-sizing: border-box;
					display: inline-block;
					font-weight: $bold;
					list-style: none;
					margin: 0 8px 25px 8px;
					padding-top: 130px;
					text-align: center;
					transition: all 200ms;
					width: calc(25% - 20px);
					@media #{$mobile_mid}{
						margin: 0 20px;
						padding-top: 0;
						text-align: left;
						width: 100%;
					}
					&#one, &#two, &#three, &#four, &#five, &#six, &#seven, &#eight{
						@media #{$mobile_mid}{
							background-image: none;
						}
					}
					&#one{
						background-image: url(../img/servicios/img_01.png);
						background-image: url(../img/servicios/img_01.svg), url(../img/servicios/img_01.png);
					}
					&#two{
						background-image: url(../img/servicios/img_02.png);
						background-image: url(../img/servicios/img_02.svg), url(../img/servicios/img_02.png);
					}
					&#three{
						background-image: url(../img/servicios/img_03.png);
						background-image: url(../img/servicios/img_03.svg), url(../img/servicios/img_03.png);
					}
					&#four{
						background-image: url(../img/servicios/img_04.png);
						background-image: url(../img/servicios/img_04.svg), url(../img/servicios/img_04.png);
					}
					&#five{
						background-image: url(../img/servicios/img_05.png);
						background-image: url(../img/servicios/img_05.svg), url(../img/servicios/img_05.png);
					}
					&#six{
						background-image: url(../img/servicios/img_06.png);
						background-image: url(../img/servicios/img_06.svg), url(../img/servicios/img_06.png);
					}
					&#seven{
						background-image: url(../img/servicios/img_07.png);
						background-image: url(../img/servicios/img_07.svg), url(../img/servicios/img_07.png);
					}
					&#eight{
						background-image: url(../img/servicios/img_08.png);
						background-image: url(../img/servicios/img_08.svg), url(../img/servicios/img_08.png);
					}
				}
			}
		}
	}
	&#contact{
		min-height: 760px;
		@media #{$mobile_mid}{
			margin-bottom: 250px;
		}
		div{
			display: block;
			margin: 0 auto;
			padding: 20px;
			position: relative;

			@media #{$mobile_big}{
				padding: 15px 15px 60px 15px;
				width: 100%;
			}
			h2{
				@media #{$mobile_big}{
					font-size: 1.8em;
					line-height: 1em;
					padding: 15px 0;
					width: calc(100% - 30px);
				}
			}
			article{
				display: inline-block;
				width: 450px;

				@media #{$mobile_big}{
					width: calc(50% - 30px);
				}
				@media #{$mobile_mid}{
					width: calc(100% - 30px);
				}
				b{
					@media #{$mobile_mid}{
						font-size: 0.9em;
					}
				}
				ul{
					@media #{$mobile_mid}{
						padding-left: 15px;
						width: calc(100% - 30px);
					}
				}
			}
			form{
				display: inline-block;
				float: right;
				position: relative;
				width: 360px;

				@media #{$mobile_big}{
					width: 50%;
				}
				@media #{$mobile_mid}{
					float: none;
					width: calc(100% - 30px);
				}
				input, textarea{
					background: $Humo;
					border: none;
					display: block;
					font-style: italic;
					font-weight: 300;
					margin: 10px 0;
					padding: 8px 10px;
					width: 300px;

					@media #{$mobile_mid}{
						font-size: 0.8em;
						width: calc(100% - 30px);
					}
				}
				textarea{
					height: 80px;
					resize: none;
				}
				input#enviar{
					background: $Oscuro;
					color: $Blanco;
					font-style: normal;
					font-weight: $bold;
					position: absolute;
					right: 40px;
					width: auto;

					@media #{$mobile_big}{
						position: relative;
						right: 0;
					}
					@media #{$mobile_mid}{
						position: absolute;
						right: 15px;
					}
				}
			}
		}
	}
}
footer{
	background: $marron3;
	color: $Gris;
	display: block;
	font-size: 0.7em;
	height: 100px;
	padding: 30px 0;
	text-align: center;
	width: 100%;
	a{
		border-bottom: 1px dotted $Gris;
		color: $Gris;
		font-size: 1em;
		text-decoration: none;
		&:hover{
			color: $Humo;
		}
	}
}